h1 {
  text-align: center;
}

.lucy-painting {
  text-align: center;
}

img {
  width: 500px;
}

a {
  text-align: center;
}

.section-comments { 
  display: flex;
  align-items: center;
  flex-direction: column;
}