h1 {
  text-align: center;
}

.lucy-painting {
  text-align: center;
}

img {
  width: 500px;
}

a {
  text-align: center;
}

.comment-form { 
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea {
  height: 100px;
  width: 500px;
}

.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comments p {
  color: red;
  font-weight: 300;
}